.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
melpa-stable
elpa
custom.el
ac-comphist.dat
archive-contents
*.elc
.cache
eln-cache
.lsp-session*
.mc-lists.el
network-security.data
recentf
transient
tramp
